// /* CSS pour rendre le formulaire responsive */
// .auth-container {
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .brand-logo {
//   text-align: center;
//   margin-bottom: 20px;
// }

// .brand-logo img {
//   max-width: 22%;
//   height: auto;
// }

// .auth-form-light {
//   background-color: #f5f5f5;
//   border-radius: 10px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   color: #333;
// }

// .font-weight-light {
//   font-weight: 300;
// }

// .form-control {
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// .form-group {
//   margin-bottom: 20px;
// }

// .btn-primary {
//   background-color: #064970;
//   border: none;
// }

// .auth-form-btn {
//   color: #fff;
// }

// .my-2 {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// /* Média query pour les écrans plus petits */
// @media (max-width: 768px) {
//   .brand-logo {
//     margin-bottom: 10px;
//   }
// }

// /* CSS pour rendre le formulaire responsive */
// .auth-container {
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .brand-logo {
//   text-align: center;
//   margin-bottom: 20px;
// }

// .brand-logo img {
//   max-width: 77%;
//   height: auto;
// }

// .auth-form-light {
//   background-color: #f5f5f5;
//   border-radius: 10px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   color: #333;
// }

// .font-weight-light {
//   font-weight: 300;
// }

// .form-control {
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// .form-group {
//   margin-bottom: 20px;
// }

// .btn-primary {
//   background-color: #064970;
//   border: none;
// }

// .auth-form-btn {
//   color: #fff;
// }

// .my-2 {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// /* Média query pour les écrans plus petits */
// @media (max-width: 768px) {
//   .brand-logo {
//     margin-bottom: 10px;
//   }
// }

/* CSS pour adapter le logo au formulaire */
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-light {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center; /* Centrer le contenu du formulaire */
}

.brand-logo {
  margin-bottom: 20px;
}

.brand-logo img {
  max-width: 77%; /* Ajuster la largeur du logo au contenant */
  height: auto;
}

.font-weight-light {
  font-weight: 300;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #064970;
  border: none;
  width: 100%;
  padding: 10px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Média query pour les écrans plus petits */
@media (max-width: 768px) {
  .brand-logo {
    margin-bottom: 10px;
  }
}
