<!-- <div class="auth-container">
  <div class="auth-form-light text-left py-5 px-4 px-sm-5">
    <div class="brand-logo">
      <img src="assets/images/logomedkey.png" alt="logo" />
    </div>
    <h6 class="font-weight-light">Entrez votre mail.</h6>
    <form class="pt-3">
      <div class="form-group">
        <input
          type="email"
          class="form-control form-control-lg"
          id="email"
          placeholder="Nom d'utilisateur"
        />
      </div>
      <div class="mt-3">
      
        <a
          class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
          routerLink="/user-pages/resetpassword"
          >ENVOYER</a
        >
      </div>
    
    </form>
  </div>
</div> -->
<div class="auth-container">
  <div class="auth-form-light text-left py-5 px-4 px-sm-5">
    <div class="brand-logo">
      <img src="assets/images/logomedkey.png" alt="logo" />
    </div>
    <h6 class="font-weight-light">Entrez votre mail.</h6>
    <form class="pt-3">
      <div class="form-group">
        <input
          type="email"
          class="form-control form-control-lg"
          id="email"
          placeholder="Nom d'utilisateur"
        />
      </div>
      <div class="mt-3">
        <a
          class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
          routerLink="/user-pages/resetpassword"
          >ENVOYER</a
        >
      </div>
    </form>
  </div>
</div>
