<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title text-white rounded p-3 mb-4 text-center"
                    style="background-color: #2365ab; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                    <strong>Enregistrement de salle d'hospitalisation</strong>
                </h3>


                <br>
                <form class="forms-sample">

                    <ngb-tabset class="custom-tabset">
                        <ngb-tab title="Salle Facturable">

                            <ng-template ngbTabContent>
                                <span class="d-block mt-5"></span>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <label for="exampleSelectGender">Zone d'hospitalisation: (<span
                                                    style="color:red">*</span>)</label>
                                            <select class="form-control" id="exampleSelectZone">
                                                <option>Zone A</option>
                                                <option>Zone B</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Catégorie de salle: (<span
                                                    style="color:red">*</span>)</label>
                                            <select class="form-control" id="exampleSelectCatgorieSalle">
                                                <option>Privées </option>
                                                <option>Public </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Désignation: (<span
                                                    style="color:red">*</span>)</label>
                                            <input type="text" class="form-control" id="exampleInputUsername1"
                                                placeholder="Libellé">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Tarif: (<span
                                                    style="color:red">*</span>)</label>
                                            <select class="form-control" id="tarif">
                                                <option>5000</option>
                                                <option>10000</option>
                                                <option>15000</option>
                                                <option>20000</option>
                                                <option>25000</option>
                                                <option>30000</option>
                                                <option>35000</option>
                                                <option>40000</option>
                                            </select>
                                            <!-- <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                                placeholder="Tarif"> -->
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="exampleTextarea1">Description: (<span
                                            style="color:red">*</span>)</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Décrivez brievement la salle"></textarea>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Responsable de la salle: (<span
                                                    style="color:red">*</span>)</label>
                                            <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                                placeholder="Nom complet responsable">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Capacité maximale de lit: (<span
                                                    style="color:red">*</span>)</label>
                                            <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                                placeholder="10">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="exampleInputUsername1">Equipements Médicaux: (<span
                                            style="color:red">*</span>)</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Décrivez les équipements médicaux disponibles dans la chambre....."></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Observations</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Observations spéciales concernant la chambre....."></textarea>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="Salle Non facturable">

                            <ng-template ngbTabContent>
                                <span class="d-block mt-5"></span>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <label for="exampleSelectGender">Zone d'hospitalisation: (<span
                                                    style="color:red">*</span>)</label>
                                            <select class="form-control" id="exampleSelectZone">
                                                <option>Zone A</option>
                                                <option>Zone B</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleSelectGender">Catégorie de salle: (<span
                                                    style="color:red">*</span>)</label>
                                            <select class="form-control" id="exampleSelectCatgorieSalle">

                                                <option>Public </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Désignation: (<span
                                                    style="color:red">*</span>)</label>
                                            <input type="text" class="form-control" id="exampleInputUsername1"
                                                placeholder="Libellé">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Responsable de la salle: (<span
                                                    style="color:red">*</span>)</label>
                                            <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                                placeholder="Nom complet responsable">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleTextarea1">Description: (<span
                                            style="color:red">*</span>)</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputUsername1">Capacité maximale de lit: (<span
                                            style="color:red">*</span>)</label>
                                    <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                        placeholder="10">
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputUsername1">Equipements Médicaux: (<span
                                            style="color:red">*</span>)</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Décrivez les équipements médicaux disponibles dans la chambre....."></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Observations</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Observations spéciales concernant la chambre....."></textarea>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>


                    <div class="d-flex justify-content-between mb-4">
                        <button class="btn btn-secondary btn-rounded  btn-medkey-gray">Retour</button>
                        <form><!-- Votre formulaire ici --></form>
                        <button type="submit" class="btn btn-success btn-rounded  btn-medkey-blue">Ajouter</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>