<div class="page-header">
    <h3 class="page-title">

        Lits 
    </h3>
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Salle </a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer une Salle </li>
        </ol>
    </nav> -->
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter </h4>
                <p class="card-description">

                </p>
                <form class="forms-sample ">

                    <div class="form-group">
                        <label for="exampleSelectGender">Chambres:</label>
                        <select class="form-control" id="exampleSelectGender">
                            <option>Chambre A</option>
                            <option>Chambre B</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelectGender">Salles:</label>
                        <select class="form-control" id="exampleSelectGender">
                            <option>Salle A</option>
                            <option>Salle B</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputUsername1">Libellé</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Libellé">
                    </div>

              

                    <div class="form-group">
                        <label for="exampleSelectGender">Type:</label>
                        <select class="form-control" id="exampleSelectGender">
                            <option>Simple</option>
                            <option>Double</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Etat </label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="etatlitRadios"
                                            id="etatlitRadios1" value="" checked>
                                        Vide
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="etatlitRadios"
                                            id="etatlitRadios2" value="option2">
                                        Occupé
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div>




                    <button type="submit" class="btn btn-success mr-2">AJouter</button>
                    <button class="btn btn-danger">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>