<div class="container-scroller sidebar-fixed">
  <app-navbar *ngIf="showNavbar"></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <!-- <app-settings-panel *ngIf="showSettings"></app-settings-panel> -->

    <!-- <app-sidebar   *ngIf="showSidebar"></app-sidebar> -->
    <app-sidebar-home *ngIf="showSidebarModuleHome"></app-sidebar-home>
    <app-sidebar-module-hospitalisation *ngIf="showSidebarModuleHospitalisation"></app-sidebar-module-hospitalisation>
    <app-sidebar-module-patient *ngIf="showSidebarModulePatient"></app-sidebar-module-patient>
    <app-sidebar-module-consulation-externe *ngIf="showSidebarModuleConsultationExterne"></app-sidebar-module-consulation-externe>
  

    <!-- <div class="main-panel" [ngClass]="{ 'main-panel-only' : !showSidebar }"> -->
      <div class="main-panel" >
      <div class="content-wrapper">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div contentAnimate *ngIf="!isLoading" class="h-100">
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer *ngIf="showFooter"></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>