<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav"  style="font-weight: 400 !important; ">

    <li class="nav-item navbar-brand-mini-wrapper">
      <!-- <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a> -->
      <!-- <a class="nav-link navbar-brand brand-logo-mini" href="index.html">Medkay</a> -->
    </li>


    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate style="font-size: 1rem !important;">Tableau de bord</span>
        <i class="icon-screen-desktop menu-icon " ></i>
      </a>
    </li>


    <li class="nav-item" [ngClass]="{ 'active': quartiers.isActive }">
      <a class="nav-link" routerLink="/quartiers" routerLinkActive #quartiers="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Zone d'hospitalisation</span>
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li>

    <li class="nav-item" [ngClass]="{ 'active': categoriesChambres.isActive }">
      <a class="nav-link" routerLink="/categories-chambres" routerLinkActive #categoriesChambres="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Categories Salles </span>
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li>

     <li class="nav-item" [ngClass]="{ 'active': salleFacturable.isActive }">
      <a class="nav-link" routerLink="/salles-facturables" routerLinkActive #salleFacturable="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Gestion des Salles </span>
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li>  

    <li class="nav-item" [ngClass]="{ 'active': litsFacturables.isActive }">
      <a class="nav-link" routerLink="/lits-facturables" routerLinkActive #litsFacturables="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Gestion des Lits </span>
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li> 


    <li class="nav-item" [ngClass]="{ 'active': admissionsFacturables.isActive }">
      <a class="nav-link" routerLink="/admissions-facturables" routerLinkActive #admissionsFacturables="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Types Admissions  </span>
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': admissionsAttentes.isActive }">
      <a class="nav-link" routerLink="/admissions-attentes" routerLinkActive #admissionsAttentes="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Admissions Attentes /<br>Directes</span><br>
       
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li>

    <li class="nav-item" [ngClass]="{ 'active': allocationsLits.isActive }">
      <a class="nav-link" routerLink="/allocations-lits" routerLinkActive #allocationsLits="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate>Allocations Lits </span>
        <!-- <i class="icon-book-open menu-icon"></i> -->
      </a>
    </li>

   

  </ul>
</nav>