<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav"  style="font-weight: 400 !important; ">

    <li class="nav-item navbar-brand-mini-wrapper">
      <!-- <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a> -->
      <!-- <a class="nav-link navbar-brand brand-logo-mini" href="index.html">Medkay</a> -->
    </li>

<!-- 
    <li class="nav-item" [ngClass]="{ 'active': dashboardHome.isActive }">
      <a class="nav-link" routerLink="" routerLinkActive #dashboardHome="routerLinkActive"
        [routerLinkActiveOptions]="{exact:
        true}">
        <span class="menu-title" translate style="font-size: 1rem !important;">Dashboard Home</span>
        <i class="icon-screen-desktop menu-icon " ></i>
      </a>
    </li> -->






   

  </ul>
</nav>