<div class="row" style="margin-top: -25px">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <h3
            class="card-title text-white rounded p-3 mb-4 text-center"
            style="
              background-color: #2365ab;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            "
          >
            <strong>Liste des articles facturables théâtres mineurs</strong>
          </h3>

          <div style="text-align: right !important">
            <a
              routerLink="/ajout-artfactumineur"
              routerLinkActive
              #artfactumineur="routerLinkActive"
              [routerLinkActiveOptions]="{ exact: true }"
              class="btn btn-primary btn-rounded btn-lg non btn-medkey-blue"
              >Ajouter
            </a>
          </div>

          <table
            datatable
            [dtOptions]="dtOptions"
            class="table table-striped nowrap row-border table-bordered table-sm row-border hover"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Salle de chirurgie</th>
                <th>Chirurgien responsable</th>
                <th>Date réalisation</th>
                <th>Patient</th>
                <th style="text-align: center !important">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Salle de chirurgie 1</td>
                <td>Chirurgien responsable 1</td>
                <td>Date réalisation 1</td>
                <td>Patient 1</td>

                <td class="text-center" size="sm">
                  <a routerLink="/" class="btn btn-gray btn-sm">
                    <i class="mdi mdi-eye"></i>
                  </a>
                  <a routerLink="/" class="btn btn-success btn-sm">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a routerLink="/" class="btn btn-danger btn-sm">
                    <i class="mdi mdi-delete"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Salle de chirurgie 2</td>
                <td>Chirurgien responsable 2</td>
                <td>Date réalisation 2</td>
                <td>Patient 2</td>

                <td class="text-center" size="sm">
                  <a routerLink="/" class="btn btn-gray btn-sm">
                    <i class="mdi mdi-eye"></i>
                  </a>
                  <a routerLink="/" class="btn btn-success btn-sm">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a routerLink="/" class="btn btn-danger btn-sm">
                    <i class="mdi mdi-delete"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Salle de chirurgie 3</td>
                <td>Chirurgien responsable 3</td>
                <td>Date réalisation 3</td>
                <td>Patient 3</td>
                <td class="text-center" size="sm">
                  <a routerLink="/" class="btn btn-gray btn-sm">
                    <i class="mdi mdi-eye"></i>
                  </a>
                  <a routerLink="/" class="btn btn-success btn-sm">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a routerLink="/" class="btn btn-danger btn-sm">
                    <i class="mdi mdi-delete"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
