<div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">


                <div class="container">


                    <h3 class="card-title text-white rounded p-2 mb-2 text-center"
                        style="background-color: #2365ab; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                        <strong>Liste des allocations de lit</strong>
                    </h3>


                    <div style="text-align: right !important;" class=" py-2">
                        <button class=" btn btn-primary btn-medkey-blue" (click)="ouvrirAjout()">Ajouter</button>
                    </div>


                    <table  datatable [dtOptions]="dtOptions" class="table table-striped nowrap row-border table-bordered table-sm row-border hover " width="100%" cellspacing="0">
                        <!-- <table datatable [dtOptions]="dtOptions"  class="table-responsive"> -->

                        <thead>
                            <tr>

                                <th>Date d'allocation</th>
                                <th>Date de libération </th>
                                <th>Patient</th>
                                <th>Motif</th>
                                <th>Zone</th>
                                <th>Salle</th>
                                <th>lit</th>
                                <th style="text-align: center !important;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/03/2023</td>
                                <td>12/06/2023</td>
                                <td>DOSSOU Pierre</td>
                                <td>Besoin de lit double</td>
                                <td>Departement A</td>
                                <td>Salle B</td>
                                <td>lit A</td>

                                <td class="text-center" size="sm">
                                    <a routerLink="/" class="btn btn-gray btn-sm">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <a routerLink="/" class="btn btn-success btn-sm">
                                        <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a routerLink="/" class="btn btn-danger btn-sm">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>12/03/2023</td>
                                <td>12/06/2023</td>
                                <td>DOSSOU Sid</td>
                                <td>Besoin de lit double</td>
                                <td>Zone A</td>

                                <td>Salle B12</td>
                                <td>lit A</td>

                                <td class="text-center" size="sm">
                                    <a routerLink="/" class="btn btn-gray btn-sm">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <a routerLink="/" class="btn btn-success btn-sm">
                                        <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a routerLink="/" class="btn btn-danger btn-sm">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>12/03/2023</td>
                                <td>12/06/2023</td>
                                <td>DOSSOU Paul</td>
                                <td>Besoin de lit double</td>
                                <td>Zone B</td>
                                <td>Salle A1</td>
                                <td>lit A</td>

                                <td class="text-center" size="sm">
                                    <a routerLink="/" class="btn btn-gray btn-sm">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <a routerLink="/" class="btn btn-success btn-sm">
                                        <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a routerLink="/" class="btn btn-danger btn-sm">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>




            </div>
        </div>
    </div>