<div class="row" style="margin-top: -25px">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3
          class="card-title text-white rounded p-3 mb-4 text-center"
          style="
            background-color: #2365ab;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          "
        >
          <strong>Enregistrer un type de relation</strong>
        </h3>
        <form (submit)="ajouterPatient()" class="forms-sample">
          <!-- <div class="card-body"> -->
          <div class="row">
            <div class="form-group col-md-12">
              <label for="patient" style="font-weight: bold"
                >Nom <span style="color: red"> *</span> :</label
              >
              <input
                id="patient"
                type="text"
                class="form-control"
                required
                placeholder="Nom du type de relation..."
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="observation" style="font-weight: bold"
                >Description :</label
              >
              <textarea
                id="observation"
                rows="6"
                class="form-control"
                placeholder="Observations..."
                style="border: 1px solid #a8adb3 !important"
              ></textarea>
            </div>
          </div>
          <!-- </div> -->
          <!-- <div class="row" style="margin-top: -67px">
              <div class="form-group mx-4 mt-5 w-100">
                <button class="btn btn-retour" style="float: left">
                  <a type="button">Retour</a>
                </button>
                <button
                  type="submit"
                  class="btn btn-ajouter-patient"
                  style="float: right"
                >
                  Enregistrer
                </button>
              </div>
            </div> -->
          <div class="d-flex justify-content-between mb-4">
            <button class="btn btn-secondary btn-rounded btn-lg btn-medkey-gray">Retour</button>
            <form><!-- Votre formulaire ici --></form>
            <button type="submit" class="btn btn-success btn-rounded btn-medkey-blue">
              Ajouter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
