<div class="page-header">
    <h3 class="page-title">

        Privilège Utilisateurs
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Privilège Utilisateur</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer Privilège Utilisateur</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> </h4>
                <p class="card-description">

                </p>


                <div class="form-group ">
                    <label class="col-sm-6 col-form-label">Sélectionner un Rôle</label>
                    <div class="col-sm-9">
                        <select class="form-control">
                            <option>Admin</option>
                            <option>Caissier</option>
                        </select>
                    </div>
                </div>

                <form class="forms-sample ">


                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr style="background-color: rgb(195, 199, 212);">
                                    <th>Tout</th>
                                    <th>Permissions</th>
                                    <th>
                                        <!-- <div class="form-check form-check-flat form-check-primary " style="margin-top: -10%;"> -->
                                        <div class="form-check form-check-flat form-check-primary ">
                                            <label class="form-check-label">
                                                <input type="checkbox"
                                                    class=" form-check form-check-flat form-check-primary form-check-input ">

                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="form-check form-check-flat form-check-primary ">
                                            <label class="form-check-label">
                                                <input type="checkbox"
                                                    class=" form-check form-check-flat form-check-primary form-check-input ">

                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Caissier</td>
                                    <td>
                                        <div class="form-check form-check-flat form-check-primary ">
                                            <label class="form-check-label">
                                                <input type="checkbox"
                                                    class=" form-check form-check-flat form-check-primary form-check-input ">

                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Trésorier</td>
                                    <td>
                                        <div class="form-check form-check-flat form-check-primary ">
                                            <label class="form-check-label">
                                                <input type="checkbox"
                                                    class=" form-check form-check-flat form-check-primary form-check-input ">

                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <button type="submit" class="btn btn-success  text-center">Valider</button>
                    <!-- <button class="btn btn-danger">Annuler</button> -->
                </form>
            </div>
        </div>
    </div>
</div>