<div class="page-header">
  <h3 class="page-title">

    Utilisateurs
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Utilisateur</a></li>
      <li class="breadcrumb-item active" aria-current="page">Créer Utilisateur</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter </h4>
        <p class="card-description">

        </p>
        <form class="forms-sample row ">


          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nom">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Prénom(s)</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Prénom">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nom d'utilisateur</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nom d'utilisateur">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Téléphone</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Téléphone">
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Sexe</label>
              <div class="col-sm-3">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1"
                      value="" checked>
                    Free
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2"
                      value="option2">
                    Professional
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label for="exampleInputEmail1">Adresse</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Adresse">
            </div>
            <div class="form-group">
              <label for="exampleSelectGender">Rôle</label>
              <select class="form-control" id="exampleSelectGender">
                <option>Admin</option>
                <option>Caissier</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleSelectGender">Centre Sanitaire:</label>
              <select class="form-control" id="exampleSelectGender">
                <option>CNHU</option>
                <option>HIS</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputConfirmPassword1">Confirmer Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
            </div>
          </div>
  
          <button type="submit" class="btn btn-success mr-2">AJouter</button>
          <button class="btn btn-danger">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>