<div class="row" style="margin-top: -25px">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3
          class="card-title text-white rounded p-3 mb-4 text-center"
          style="
            background-color: #2365ab;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          "
        >
          <strong>Enregistrer un forfait de facturation</strong>
        </h3>
        <form (submit)="ajouterPatient()" enctype="multipart/form-data">
          <!-- <div class="card-body"> -->
          <div class="row">
            <div class="form-group col-md-6">
              <label for="patient" style="font-weight: bold"
                >Patient<span style="color: red"> *</span> :</label
              >
              <select
                id="patient"
                type="text"
                class="form-control"
                style="border: 1px solid #a8adb3 !important"
              >
                <option value="pays1">Patient 1</option>
                <option value="pays2">Patient 2</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="patient" style="font-weight: bold"
                >Service <span style="color: red"> *</span> :</label
              >
              <select
                id="patient"
                type="text"
                class="form-control"
                style="border: 1px solid #a8adb3 !important"
              >
                <option value="pays1">Service 1</option>
                <option value="pays2">Service 2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="relation" style="font-weight: bold"
                >Type de relation :</label
              >
              <select
                id="relation"
                type="text"
                class="form-control"
                style="border: 1px solid #a8adb3 !important"
              >
                <option value="pays1">Relation 1</option>
                <option value="pays2">Relation 2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="comp" style="font-weight: bold"
                >Nom Forfait <span style="color: red"> *</span>:</label
              >
              <input
                id="comp"
                type="text"
                class="form-control"
                required
                placeholder="Nom forfait..."
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="statu" style="font-weight: bold"
                >Tarif<span style="color: red"> *</span> :</label
              >
              <input
                id="statu"
                type="number"
                class="form-control"
                required
                placeholder="Tarif..."
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="datedebut" style="font-weight: bold"
                >Date de début <span style="color: red"> *</span>:</label
              >
              <input
                id="datedebut"
                type="date"
                class="form-control"
                required
                placeholder="Date de début..."
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="datefin" style="font-weight: bold"
                >Date de fin<span style="color: red"> *</span> :</label
              >
              <input
                id="datefin"
                type="date"
                class="form-control"
                required
                placeholder="Date de fin..."
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="observation" style="font-weight: bold"
                >Observations :</label
              >
              <textarea
                id="observation"
                rows="6"
                class="form-control"
                placeholder="Observations..."
                style="border: 1px solid #a8adb3 !important"
              ></textarea>
            </div>
          </div>
          <!-- </div> -->
          <div class="d-flex justify-content-between mb-4">
            <button class="btn btn-secondary btn-rounded btn-lg btn-medkey-gray">Retour</button>
            <form><!-- Votre formulaire ici --></form>
            <button type="submit" class="btn btn-success btn-rounded btn-medkey-blue">
              Ajouter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
