<div class="row" style="margin-top: -25px">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3
          class="card-title text-white rounded p-3 mb-4 text-center"
          style="
            background-color: #2365ab;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          "
        >
          <strong>Enregistrer un modèle d'examen physique</strong>
        </h3>
        <form (submit)="ajouterIntervention()">
          <!-- <div class="card-body"> -->
          <div class="row">
            <div class="form-group col-md-6">
              <label for="nom" class="bien" style="font-weight: bold"
                >Nom modèle d'examen physique<span style="color: red"> *</span>
                :</label
              >
              <input
                id="nom"
                type="text"
                class="form-control"
                placeholder="Nom modèle..."
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="nom" class="bien" style="font-weight: bold"
                >Médecin<span style="color: red"> *</span> :</label
              >
              <select
                id="nom"
                type="text"
                class="form-control"
                style="border: 1px solid #a8adb3 !important"
              >
                <option value="medecintraitant1">Médecin 1</option>
                <option value="medecintraitant2">Médecin 2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="donneesBiologiques" style="font-weight: bold"
                >Patient <span style="color: red"> *</span> :</label
              >
              <select
                id="donneesBiologiques"
                type="text"
                class="form-control"
                style="border: 1px solid #a8adb3 !important"
              >
                <option value="medecintraitant1">Patient 1</option>
                <option value="medecintraitant2">Patient 2</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="autresInformations" style="font-weight: bold"
                >Date examen <span style="color: red"> *</span> :</label
              >
              <input
                id="autresInformations"
                type="date"
                class="form-control"
                style="border: 1px solid #a8adb3 !important"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="autresInformations" style="font-weight: bold"
                >Résultats d'examen <span style="color: red"> *</span> :</label
              >
              <textarea
                id="autresInformations"
                rows="6"
                class="form-control"
                placeholder="Résultats d'examen..."
                style="border: 1px solid #a8adb3 !important"
              ></textarea>
            </div>
          </div>
          <!-- </div> -->
          <div class="d-flex justify-content-between mb-4">
            <button class="btn btn-secondary btn-rounded btn-lg btn-medkey-gray">Retour</button>
            <form><!-- Votre formulaire ici --></form>
            <button type="submit" class="btn btn-success btn-rounded btn-medkey-blue">
              Ajouter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
