<div class="page-header">
    <h3 class="page-title">

        Allocations de lit
    </h3>
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Salle </a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer une Salle </li>
        </ol>
    </nav> -->
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter </h4>
                <p class="card-description">

                </p>
                <form class="forms-sample ">


                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="exampleSelectGender">Date d'allocation du lit: (<span style="color:red">*</span>)</label>
                                <input class="form-control" placeholder="dd/mm/yyyy" type="date" />
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="exampleSelectGender">Date libération du lit:</label>
                                <input class="form-control" placeholder="dd/mm/yyyy" type="date" />
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleSelectGender">Patient: (<span style="color:red">*</span>)</label>
                                <!-- <select class="form-control" id="exampleSelectGender">
                                    <option selected>Selectionner un patient</option>
                                    <option>DOSSOU Jean</option>
                                    <option>ABO Paul</option>
                                </select> -->
                                <ng-select >
                                    <option value="Valeur 1">Valeur 1</option>
                                    <option value="Valeur 2">Valeur 2</option>
                                    <option value="Valeur 3">Valeur 3</option>
                                  </ng-select>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Motif </label>
                                <input type="text" class="form-control" id="exampleInputUsername1"
                                    placeholder="Par exemple: Intervention en urgence">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleSelectGender">Salles: (<span style="color:red">*</span>)</label>
                                <select class="form-control" id="exampleSelectGender">
                                    <option>Salle A</option>
                                    <option>Salle B</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-lg-6">


                            <div class="form-group">
                                <label for="exampleSelectGender">Lit: (<span style="color:red">*</span>)</label>
                                <select class="form-control" id="exampleSelectGender">
                                    <option>Lit 201</option>
                                    <option>Lit 202</option>
                                </select>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleTextarea1">Notes</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4"
                            placeholder="Des commentaires supplémentaires pertinents"></textarea>
                    </div>

             
                    <div class="d-flex justify-content-between mb-4">
                        <button class="btn btn-secondary btn-rounded btn-lg">Retour</button>
                        <form><!-- Votre formulaire ici --></form>
                        <button type="submit" class="btn btn-success btn-rounded">Ajouter</button>
                      </div>

                </form>

            </div>
        </div>
    </div>