<div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="container">

                    <h3 class="card-title text-white rounded p-3 mb-4 text-center"
                        style="background-color: #2365ab; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                        <strong>Liste des Admissions En attente / Directe </strong>
                    </h3>

                    <div style="text-align: right !important;">
                        <button class="btn btn-primary btn-rounded btn-medkey" (click)="ouvrirAjout()">Ajouter</button>
                    </div>

                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active font-weight-bold custom-tab" data-bs-toggle="tab" href="#tab1">Liste Admissions En Attente </button>
                            </li>
                            <li>
                                <button class="nav-link font-weight-bold custom-tab" data-bs-toggle="tab" href="#tab2">Liste Admissions Directes  </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <span class="d-block mt-3"></span>
                                <table style="width:100%" class="table table-striped table-bordered table-sm row-border hover" id="table5">
                                    <thead>
                                        <tr>
                                         
                                            <th>Date d'Admission</th>
                                            <th>Patient </th>
                                            <th>Motif</th>
                                            <th>Service medical</th>
                                            <th>Medecin traitant</th>
                                            <th>Zone</th>
                                            <th>Salle</th>
                                        
                                          
                                            <th style="text-align: center !important;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12/03/2023</td>
                                            <td>DOSSOU Pierre</td>
                                            <td>Besoin d'outils spécifique</td>
                                            <td>AGOSSOU Nicola </td>
                                            <td>10000</td>
                                            <td>Zone A</td>
                                            <td>Salle A</td>
                                         
                                
                                        
                                            <td class="text-center" size="sm">
                                                <a routerLink="/" class="btn btn-gray btn-sm">
                                                    <i class="mdi mdi-eye"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-success btn-sm">
                                                    <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-danger btn-sm">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>12/03/2023</td>
                                            <td>DOSSOU Pierre</td>
                                            <td>Besoin d'outils spécifique</td>
                                            <td>AGOSSOU Nicola </td>
                                            <td>10000</td>
                                            <td>Zone A</td>
                                            <td>Salle A</td>
                                         
                                
                                        
                                            <td class="text-center" size="sm">
                                                <a routerLink="/" class="btn btn-gray btn-sm">
                                                    <i class="mdi mdi-eye"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-success btn-sm">
                                                    <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-danger btn-sm">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>12/03/2023</td>
                                            <td>DOSSOU Pierre</td>
                                            <td>Besoin d'outils spécifique</td>
                                            <td>AGOSSOU Nicola </td>
                                            <td>10000</td>
                                            <td>Zone A</td>
                                            <td>Salle A</td>
                                         
                                
                                        
                                            <td class="text-center" size="sm">
                                                <a routerLink="/" class="btn btn-gray btn-sm">
                                                    <i class="mdi mdi-eye"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-success btn-sm">
                                                    <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-danger btn-sm">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
            
                                    </tbody>
                                </table>
                            </div>

                                   
                            <div class="tab-pane fade " id="tab2">
                                <span class="d-block mt-3"></span>
                                <table style="width:100%" class="table table-striped table-bordered table-sm row-border hover" id="table6">
                                   
                                     <thead>
                                        <tr> 
                                            <th>Date d'Admission</th>
                                            <th>Patient </th>
                                            <th>Motif</th>
                                            <th>Service medical</th>
                                            <th>Medecin traitant</th>
                                        
                                            <th style="text-align: center !important;">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>12/03/2023</td>
                                            <td>DOSSOU Pierre</td>
                                            <td>Besoin d'outils spécifique</td>
                                            <td>AGOSSOU Nicola </td>
                                            <td>10000</td>
                                         
                            
                                            <td class="text-center" size="sm">
                                                <a routerLink="/" class="btn btn-gray btn-sm">
                                                    <i class="mdi mdi-eye"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-success btn-sm">
                                                    <!-- <i class="mdi  mdi-lead-pencil text-white"></i> -->
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a routerLink="/" class="btn btn-danger btn-sm">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                            
                                    </tbody>
                                </table>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>