/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import './assets/scss/variables';
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/functions";


// @import "./assets/fonts/Montserrat.ttf";
// @import "./assets/fonts/Montserrat-Regular.ttf";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Import des styles globaux d'Angular Material */



/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";
@import "~font-awesome/scss/font-awesome";
@import "~flag-icon-css/sass/flag-icon";
@import "~simple-line-icons/scss/simple-line-icons";


/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";
@import "./assets/scss/mixins/no-ui-slider";

/* === Core Styles === */
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/modal";
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/dropdowns";
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/loaders/loaders";
@import "./assets/scss/components/portfolio";
@import "./assets/scss/components/date-picker";
@import "./assets/scss/components/daterange-picker";

@import "./assets/scss/components/landing-screens/auth";

/* === Plugin styles === */
@import "~chartist/dist/chartist.min.css";
@import '~select2/dist/css/select2.min.css';
@import '~@fullcalendar/core/main.min.css';

/* === Plugin Overrides === */
@import "./assets/scss/components/plugin-overrides/chartist";
@import "./assets/scss/components/plugin-overrides/select2";
@import "./assets/scss/components/plugin-overrides/date-picker";
@import "./assets/scss/components/plugin-overrides/full-calendar";

@import "~@ng-select/ng-select/themes/default.theme.css";

/* === Layout === */
@import "./assets/scss/layout";




// html, body { height: 100%; }
// body { margin: 0; font-family: "Montserrat", Roboto ,"Helvetica Neue", sans-serif; }
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* Ajoute une ombre */
  border-radius: 5px;
}


label {
  font-size: 16px;
  color: #000000 !important;
  font-weight: 400 !important;
}

// input,  textarea {
//   border: 1px solid #5c5b5b !important;
// }

input,
textarea {

  border: 1px solid #9a9a9b !important;

}

select {

  // border-color: #848489 !important;
  border-radius: 4px !important;
  border: 1px solid #9a9a9b !important;


}



.ng-select .ng-select-container {

  border-radius: 4px !important;
  // border: 1px solid #c3c3c3 !important;
  // border-color: #afafaf !important;
  border-color: #999999 !important;



}

ng-select input {
  border: none !important;
  /* Remplacez cette règle par ce que vous souhaitez pour les input dans ng-select */
}

label {

  font-size: 16px !important;
}


.btn-medkey-blue {
  border: 3px solid #2365ab !important;
  border-radius: 25px !important;
  width: 200px !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  /* Ajustez la taille du texte selon vos préférences */
  padding: 0.685rem 0.49rem !important;
}

.btn-medkey-blue:hover {
  /* Changez la couleur de fond au survol */
  color: #0d47a1 !important;
  background-color: #ffffff !important; /* Par exemple, une couleur de fond différente au survol */
}


.btn-medkey-gray {
  border: 3px solid #606264 !important;
  border-radius: 25px !important;
  width: 200px !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  /* Ajustez la taille du texte selon vos préférences */
  padding: 0.685rem 0.49rem !important;
}

.btn-medkey-gray:hover {
  /* Changez la couleur de fond au survol */
  color: #515254 !important;
  background-color: #ffffff !important; /* Par exemple, une couleur de fond différente au survol */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

table tbody td {
  color: rgb(0, 0, 0) !important;
  font-weight: 500 !important;
}




///////////////////////////////////////////////////
table.dataTable th.focus,
table.dataTable td.focus {
  outline: 1px solid #0d47a1;
  outline-offset: -1px;
  background-color: #fcffbf !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  top: 9px;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;

  box-sizing: content-box;
  text-align: center;

  line-height: 14px;
  content: '+';
  background-color: #337ab7;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before {
  display: none;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
  padding-left: 27px;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px;
}

table.dataTable>tbody>tr.child {
  padding: 0.5em 1em;
}

table.dataTable>tbody>tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table.dataTable>tbody>tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}

table.dataTable>tbody>tr.child ul li:first-child {
  padding-top: 0;
}

table.dataTable>tbody>tr.child ul li:last-child {
  border-bottom: none;
}

table.dataTable>tbody>tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
  background-color: rgb(247, 247, 247);
}



@media (max-width: 768px) {
  .dt-buttons {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }

  .dt-buttons .btn {
    white-space: nowrap !important;
  }

  /* Masquer la barre de défilement horizontale */
  .dt-buttons::-webkit-scrollbar {
    display: none !important;
  }

  .dataTables_wrapper .dt-buttons {
    margin: 0 !important;
  }

}

//  .buttons-excel,
//  .buttons-pdf,
//  .buttons-print,
//  .buttons-colvis
//   {
//   margin-right: 0px !important;
//   display: flex; /* Utilisation de Flexbox pour aligner horizontalement */
//   justify-content: space-between; /* Espacement égal entre les boutons */
// }


/*below block of css for change style when active*/


.paginate_button{
  background-color: #ffffff !important;
 cursor: pointer !important;
 }
 
 .paginate_button:hover{
   background: #286db5 !important;
 }
 .paginate_button.current {
   background-color: #286db5!important;
   color: #ffffff !important; /* Couleur du texte du numéro de page actuel */

 }

 .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

  color:white !important;
 }



 .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  background: #ffffff !important;
  cursor: pointer !important;
  color: #000000 !important; /* Couleur du texte des boutons "Précédent" et "Suivant" (par défaut) */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
  background: #286db5 !important;
  color: #ffffff !important; /* Couleur du texte des boutons "Précédent" et "Suivant" (blanc) au survol */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.current {
  background: #286db5 !important;
  color: #000000 !important; /* Couleur du texte des boutons "Précédent" et "Suivant" (par défaut) */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:active {
  background: #286db5 !important; /* Couleur de fond lors du focus ou de l'activation (bleu dans cet exemple) */
  color: #ffffff !important; /* Couleur du texte lors du focus ou de l'activation (blanc dans cet exemple) */
}


.nav-link.active.custom-tab {
  background-color: #286db5 !important; /* Couleur de fond sombre */
  color: #fff !important; /* Couleur du texte en surbrillance */
}

/* Style pour les onglets inactifs */
.nav-link.custom-tab {
  background-color: #e7ecef !important; /* Couleur de fond blanche par défaut */
  color: #000 !important; /* Couleur du texte par défaut */
}




/* Style pour les onglets inactifs */
.custom-tabset .nav-tabs .nav-link.active,
.custom-tabset .nav-tabs .nav-item.show .nav-link {
    color: #ffffff !important; /* Couleur du texte pour l'onglet actif */
    font-weight: bold !important;
    background-color: #286db5 !important; /* Couleur de fond pour l'onglet actif */
    // border-color: #89c7fd #2b61ea #5f9ac1 !important; /* Couleur de la bordure pour l'onglet actif */
}

.custom-tabset .nav-tabs .nav-link {
  color: #000000 !important; /* Couleur du texte pour les onglets non actifs */
  font-weight: bold !important;
  background-color: #e7ecef !important; /* Couleur de fond pour les onglets non actifs */
}


