<div class="page-header">
    <h3 class="page-title">
        Salles 
    </h3>

    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Salle </a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer une Salle </li>
        </ol>
    </nav> -->

</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter une salle d'hospitalisation</h4>
                <p class="card-description">

                </p>
                <form class="forms-sample">

                    <ngb-tabset>
                        <ngb-tab title="Salle Facturable">

                            <ng-template ngbTabContent >
                                <span class="d-block mt-5"></span>

                                <div class="form-group ">
                                    <label for="exampleSelectGender">Zone d'hospitalisation: (<span style="color:red">*</span>)</label>
                                    <select class="form-control" id="exampleSelectZone">
                                        <option>Zone A</option>
                                        <option>Zone B</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleSelectGender">Catégorie de salle: (<span style="color:red">*</span>)</label>
                                    <select class="form-control" id="exampleSelectCatgorieSalle">
                                        <option>Privées </option>
                                        <option>Public </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Désignation: (<span style="color:red">*</span>)</label>
                                    <input type="text" class="form-control" id="exampleInputUsername1"
                                        placeholder="Libellé">
                                </div>

                                <div class="form-group">
                                    <label for="exampleTextarea1">Description</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"  placeholder="Décrivez brievement la salle"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Responsable de la salle: (<span style="color:red">*</span>)</label>
                                    <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                        placeholder="Nom complet responsable">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Capacité maximale de lit</label>
                                    <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                        placeholder="10">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Tarif: (<span style="color:red">*</span>)</label>
                                    <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                        placeholder="Tarif">
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputUsername1">Equipements Médicaux: (<span style="color:red">*</span>)</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Décrivez les équipements médicaux disponibles dans la chambre....."></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Observations</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Observations spéciales concernant la chambre....."></textarea>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="Salles Non facturable">

                            <ng-template ngbTabContent>
                                <span class="d-block mt-5"></span>
                                <div class="form-group ">
                                    <label for="exampleSelectGender">Zone d'hospitalisation: (<span style="color:red">*</span>)</label>
                                    <select class="form-control" id="exampleSelectZone">
                                        <option>Zone A</option>
                                        <option>Zone B</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleSelectGender">Catégorie de salle: (<span style="color:red">*</span>)</label>
                                    <select class="form-control" id="exampleSelectCatgorieSalle">
                                        <option>Privées </option>
                                        <option>Public </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Désignation: (<span style="color:red">*</span>)</label>
                                    <input type="text" class="form-control" id="exampleInputUsername1"
                                        placeholder="Libellé">
                                </div>

                                <div class="form-group">
                                    <label for="exampleTextarea1">Description</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Responsable de la salle: (<span style="color:red">*</span>)</label>
                                    <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                        placeholder="Nom complet responsable">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Capacité maximale de lit</label>
                                    <input type="text" class="form-control" id="exampleInputResponsableChambre"
                                        placeholder="10">
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputUsername1">Equipements Médicaux: (<span style="color:red">*</span>)</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Décrivez les équipements médicaux disponibles dans la chambre....."></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputUsername1">Observations</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                        placeholder="Observations spéciales concernant la chambre....."></textarea>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>



                    <button type="submit" class="btn btn-success mr-2">AJouter</button>
                    <button class="btn btn-danger">Annuler</button>
                </form>
            </div>
        </div>
    </div>


</div>